{% extends "base.html" %}

{% block title %}Teacher Site{% endblock %} 

{% block content %}
{# if there are quizzes, display info about them all #}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Your Courses</h1>
            {% if courses|length == 0 %}
            <hr>
            <h2>It appears you don't have any courses.</h2>
            {% else %}
            {% for id, title in courses %}
            <hr>
            <h2><a href="{% url 'teacher.views.course' id %}">{{ title }}</a></h2>
            {% endfor %}
            {% endif %}
            <hr>
        </div>
    </div>
</div>
{% endblock %}

