{% extends "base.html" %}

{% block title %}{{ course_title }}{% endblock %} 

{% block content %}
{# if there are quizzes, display info about them all #}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>{{course_title}}</h2>
            <p>
            {% if quizzes|length == 0 %}
            This course has <strong>no quizzes</strong>. 
            {% else %}
            {% if quizzes|length == 1 %}
            There is <strong>1 quiz</strong> in this course.
            {% else %}
            There are <strong>{{ quizzes|length }} quizzes</strong> in this course.
            {% endif %}
            {% endif %}
            </p>
            {% if quizzes|length != 0 %}
            <table class="table" id="quizzes">
                <thead>
                    <tr>
                        <th>Quiz</th>
                        <th>Questions</th>
                        <th>Score</th>
                        <th>Start</th>
                        <th>End</th>
                    </tr>
                </thead>
                <tbody>
                    {% for quiz in quizzes %}
                    <tr>
                        <td><a href="{% url 'quizzes.views.quiz' course_id quiz.quizId %}">{{ quiz.quizTitle }}</a></td>
                        <td>{{quiz.numQuestions}}</td>
                        <td>{{quiz.quizScore|floatformat:"-2"}}/{{quiz.maxScore|floatformat:"-2"}}</td>
                        <td>{{quiz.startDate}}</td>
                        <td>{{quiz.endDate}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

