{% extends "base.html" %}

{% block title %}Quizzes{% endblock %} 

{% block content %}
<div class="container raised">
    <div class="row">
        <div class="col-sm-12">
            <h1>Your Quizzes</h1>
            <p>
            {% if quizzes|length == 0 %}
            You have no quizzes.
            {% else %}
            {% if quizzes|length == 1 %}
            You have 1 quiz.
            {% else %}
            You have {{quizzes|length}} quizzes.
            {% endif %}
            {% endif %}
            </p>
        </div>
    </div>
</div>
{% if quizzes|length != 0 %}
{# if there are quizzes, display info about them all #}
{% for quiz in quizzes %}
<div class="container raised">
    <div class="row">
        <div class="col-sm-12">
            <h2><a href="{% url 'quizzes.views.quiz' quiz.quizId %}">{{ quiz.quizTitle }}</a></h2>
            {% if quiz.numQuestions == 1 %}
            <p>1 Question</p>
            {% else %}
            <p>{{quiz.numQuestions}} questions</p>
            {% endif %}
            <p>Quiz Starts: {{quiz.startDate}}</p>
            <p>Quiz Ends: {{quiz.endDate}}</p>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}

