{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ quiz_title }}{% endblock %} 

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/bootstrap-slider.min.css" %}"/>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" charset="utf-8" src="{% static "scripts/jquery.countdown.min.js" %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static "scripts/bootstrap-slider.min.js" %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static "quizzes/scripts/histogramChart.js" %}"></script>
<script type="text/javascript">
    $(function() {
        var scores = {{ scores|safe }},
            maxScore = {{ quiz.maxScore|safe }},
            throttleMilliseconds = 100,
            debounceMilliseconds = 300,
            numBins = 10;

        // create bar chart
        var chart = histogramChart()
            .xMin(0)
            .xMax(maxScore)
            .numBins(numBins)
            .xLabel("Scores");

        var selection = d3.select("#modalChart")
            .datum(scores);

        $("#statsModal").on("shown.bs.modal", function() {
            selection.call(chart);
        });

        var slider = $('#sliderInput').slider({
           formatter: function(value) {
                return 'Current value: ' + value;
           }
        });
        
        var drawChart = function() {
            chart = chart.numBins(slider.slider('getValue'));
            selection.call(chart); 
        }
        $("#sliderInput").change(_.throttle(drawChart, throttleMilliseconds)); 
        $(window).on('resize',   _.debounce(drawChart, debounceMilliseconds)); 

        // start all countdowns
        $(".countdown").each(function() {
            var date = Date.now() + (+$(this).data("milliseconds"));
            $(this).countdown(date, function(event) {
                var format = '%H:%M:%S';
                if(event.offset.days > 0) {
                    format = '%-d day%!d ' + format;
                }
                if(event.offset.weeks > 0) {
                    format = '%-w week%!w ' + format;
                }
                $(this).html(event.strftime(format));
            });
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>{{ quiz.title }}</h2>
            <h4>{{ status_text }}</h4>
            {% if quiz.quizLeftMilliseconds > 0 %}
            <h4>Time Left: <span class="countdown" data-milliseconds="{{quiz.quizLeftMilliseconds}}"></span></h4>
            {% endif %}
            <p>This quiz first became available on <strong>{{ quiz.startDate }}</strong> and is no longer available after <strong>{{ quiz.endDate }}</strong></p>
            <p>This quiz is due by <strong>{{ quiz.softEndDate }}</strong></p>
            {% if quiz.numQuestions == 1 %}
            There is only <strong>one question</strong> in this quiz.
            {% else %}
            There are <strong>{{quiz.numQuestions}} questions</strong> in this quiz.
            {% endif %}
            </p>
            <p>You have <strong>{{ quiz.quizScore|floatformat:"-2" }} out of {{ quiz.maxScore|floatformat:"-2" }} points</strong>.</p>
            <p>
            <!-- Button trigger modal -->
            <button type="button" id="showStats" class="btn btn-info" data-toggle="modal" data-target="#statsModal">
                <span class="glyphicon glyphicon-stats"></span> View statistics for this quiz.
            </button>

            <!-- Modal -->
            <div class="modal fade" id="statsModal" tabindex="-1" role="dialog" aria-labelledby="statsModelLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="statsModalLabel">Statistics for {{ quiz_title }}</h4>
                        </div>
                        <div class="modal-body" id="statsModalBody">
                            <p>Mean: {{mean|floatformat:"-2"}}</p>
                            <p>Median: {{median|floatformat:"-2"}}</p>
                            <p>Distribution:</p>
                            <div id="modalChart"></div>
                            <div class="form-group">
                                <label for="sliderInput" class="control-label">Number of Bins</label>
                                
                                <input id="sliderInput" data-slider-id='slider' type="text" style="width: 100%"
                                data-slider-min="1" data-slider-max="50" data-slider-step="1" 
                                data-slider-value="10">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            </p>
            <div class="table-responsive">
            <table class="table" id="questions">
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Score</th>
                        <th>Grading</th>
                        {% if has_question_time_limits %}
                        <th>Time Limit</th>
                        <th>Time Left</th>
                        {% endif %}
                        <th>Attempts Left</th>
                        <th>Attempt Question</th>
                        <th>Previous Attempts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for question in quiz.questions %}
                    <tr>
                        <td>{{ question.title }}</td>
                        <td>{{ question.questionScore|floatformat:"-2" }}/{{ question.maxScore|floatformat:"-2" }}</td>
                        <td>{{ question.grading }}</td>
                        {% if has_question_time_limits %}
                        <td>
                            {# Pad with 0 since timedelta only puts 1 digit in the hours place for times < 10 hours #}
                            {% if question.maxMilliseconds < 36000000 %}
                            0{{question.timeLimit}}
                            {% else %}
                            {{question.timeLimit}}
                            {% endif %}
                        </td>
                        <td>
                        {% if question.leftMilliseconds <= 0 %} 
                        Not Started
                        {% else %}
                        <span class="countdown" data-milliseconds="{{question.leftMilliseconds}}"></span>
                        {% endif %}
                        </td>
                        {% endif %}
                        <td>{{ question.leftAttempts }}</td>
                        <td>
                            {% if question.leftAttempts == 0 %}
                            <button class="btn btn-primary btn-block disabled">
                                Attempt 
                            </button>
                            {% else %}
                            <a href="{% url 'quizzes.views.question' course_id quiz.quizId question.questionIdx %}"
                                class="btn btn-primary btn-block">
                                Attempt
                            </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if question.attempts|length != 0 %}
                            <div class="dropdown">
                                <button id="dLabel{{question.questionIdx}}" type="button" data-toggle="dropdown" 
                                    aria-haspopup="true" aria-expanded="false" 
                                    class="btn btn-default btn-block">
                                    {% if question.attempts|length != 1 %}
                                    {{ question.attempts|length }}
                                    {% else %}
                                    1 
                                    {% endif %}
                                    <span class="caret"></span>
                                </button>
                                {% if question.attempts|length != 0 %}
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel{{question.questionIdx}}">
                                    {% for attempt in question.attempts %}
                                    <li role="presentation">
                                    <a role="menuitem" tabindex="-1" 
                                        href="{% url "quizzes.views.attempt" course_id quiz.quizId question.questionIdx attempt.attemptIdx%}">
                                        Score: {{ attempt.userScore|floatformat:"-2" }}
                                    </a>
                                    </li> 
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                            {% else %}
                            <button type="button" class="btn btn-default btn-block disabled">0
                                <span class="caret"></span>
                            </button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
    </div>
</div>
{% endblock %}

