{% extends "base.html" %}

{% block title %}Quizzes{% endblock %} 

{% block content %}
{# if there are quizzes, display info about them all #}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Your Quizzes</h1>
            <p>
            {% if quizzes|length == 0 %}
            You have no quizzes.
            {% else %}
            {% if quizzes|length == 1 %}
            You have 1 quiz.
            {% else %}
            You have {{quizzes|length}} quizzes.
            {% endif %}
            {% endif %}
            </p>
            {% if quizzes|length != 0 %}
            <table class="table" id="quizzes">
                <thead>
                    <tr>
                        <th>Quiz</th>
                        <th>Questions</th>
                        <th>Start</th>
                        <th>End</th>
                    </tr>
                </thead>
                <tbody>
                    {% for quiz in quizzes %}
                    <tr>
                        <td><a href="{% url 'quizzes.views.quiz' quiz.quizId %}">{{ quiz.quizTitle }}</a></td>
                        <td>{{quiz.numQuestions}}</td>
                        <td>{{quiz.startDate}}</td>
                        <td>{{quiz.endDate}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

