{% extends "base.html" %}
{% load staticfiles %}
{% load compress %}

{% block title %}Question{% endblock %} 

{% block js %}
{{ block.super }}
{% compress js %}
<script type="text/coffeescript" charset="utf-8" src="{% static "quizzes/scripts/trees.coffee" %}"></script>
<script type="text/coffeescript" charset="utf-8" src="{% static "quizzes/scripts/questions.coffee" %}"></script>
<script type="text/javascript"   charset="utf-8" src="{% static "scripts/jquery.countdown.min.js" %}"></script>
<script type="text/javascript"   charset="utf-8" src="{% static "scripts/validator.js" %}"></script>
<script type="text/javascript">
    $(function() {
        $(".countdown").each(function() {
            var date = Date.now() + (+$(this).text());
            $(this).countdown(date, function(event) {
                $(this).text(
                    event.strftime('%H:%M:%S') 
                );
            });
        });
    });
</script>
{% endcompress %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{title}}</h1>
            {% block prompt %}
            {% if promptPretty %}
            <pre>{{promptPretty}}</pre>
            {% else %}
            <pre>{{prompt}}</pre>
            {% endif %}
            {% endblock %}
            <p>Seed: {{seed}}</p>
            {% if leftMilliseconds %}
            <p>Time Left: <span class="countdown">{{ leftMilliseconds }}</span></p>
            {% endif %}
            {% block qcontent %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
