{% extends "quizzes/question/base.html" %}

{% block qcontent %}
<form method="post" class="form" autocomplete="off">
    {% csrf_token %}
    {% for statement in statements %}
    <div class="checkbox">
        <label>
            <input type="checkbox" name="answer" id="options{{forloop.counter0}}" value="{{forloop.counter0}}">
            {{statement}}
        </label>
    </div>
    {% endfor %}
    <input name="question_type" type="hidden" value="{{question_type}}">
    <button type="submit" class="btn btn-primary">
        Submit
    </button>
</form>
{% endblock %}

