{% extends "quizzes/question/base.html" %}
{% load compress %} 

{% block js %}
{{ block.super }}
{% compress js %}
<script type="text/coffeescript">
$ ->
    # clear preset value, question is likely new
    question = new BSTInsertQuestion("treeContainer", {{structure|safe}})
    question.onChange(() ->
        if question.canUndo()
            $("#insertUndoButton").removeClass("disabled")
        else
            $("#insertUndoButton").addClass("disabled")
    )
    $("#insertUndoButton").click(() ->
        question.undo()
    )

    $("form").submit () -> 
        $("#inputAnswer").val(JSON.stringify(question.submit()))
       
</script>
{% endcompress %}
{% endblock %}

{% block prompt %}
<pre>Insert the following keys into the tree by clicking on the empty nodes.</pre>
{% endblock %}

{% block qcontent %}
<form  method="post" class="form">
    {% csrf_token %}
    <button type="button" id="insertUndoButton" class="btn btn-default disabled pull-left">
        Undo
    </button>
    <input name="question_type" type="hidden" value="{{question_type}}">
    <input name="answer" type="hidden" id="inputAnswer">
    <button type="submit" class="btn btn-primary pull-right">
        Submit
    </button>
</form>
<div id="treeContainer"></div>
{% endblock %}

