{% extends "quizzes/question/base.html" %}
{% load compress %}

{% block js %}
{{ block.super }}
{% compress js %}
<script type="text/javascript">
    $(function() {
        var valid = function(element) {
            answer = element.val();
            return !isNaN(answer) && $.trim(answer).length > 0;
        };
        $("#answerInput").validator({
            isValid: valid,
            alertText: "Input must be a valid number"
        });
    });
</script>
{% endcompress %}
{% endblock %}

{% block qcontent %}
<form method="post" class="form" autocomplete="off">
    {% csrf_token %}
    <div class="form-group">
        <label for="answerInput" class="control-label">Input a number</label>
        <input name="answer" id="answerInput" type="text" class="form-control" placeholder="Answer" autocomplete="off">
    </div>
    <input name="question_type" type="hidden" value="{{question_type}}">
    <button type="submit" class="btn btn-primary">
        Submit
    </button>
</form>
{% endblock %}

