{% extends "quizzes/question/base.html" %}
{% load compress %} 

{% block js %}
{{ block.super }}
{% compress js %}
<script type="text/coffeescript">
$ ->
    # clear preset value, question is likely new
    question = new BSTSearchQuestion("treeContainer", {{structure|safe}}) 

    # update input when question is changed 
    question.change () -> $("#inputHuman").val(question.submit().join " ")

    # function to check if input is valid
    isValid = (elem) -> 
        elem.val().length > 0 and _.every(elem.val().split(/(\s+)/), (v) -> not isNaN(v))

    # update question on keyup and change, update input on input change 
    updateQuestion = () ->
        success = question.update($("#inputHuman").val())
    $("#inputHuman").keyup (e) -> 
        do updateQuestion if isValid $("#inputHuman") 
    $("#inputHuman").change () ->
        do updateQuestion
        $("#inputHuman").val(question.submit().join " ")

    $("form").submit () -> 
        $("#inputAnswer").val(JSON.stringify(question.submit().join " "))

    $("#inputHuman").validator
        isValid: isValid
        on: ["input", "change"]

    return
       
</script>
{% endcompress %}
{% endblock %}

{% block qcontent %}
<form method="post" class="form" autocomplete="off">
    {% csrf_token %}
    <div class="form-group">
        <label class="control-label" for="inputHuman">Click to select nodes, or type in a whitespace separated series of keys.</label>
        <input name="answer" type="text" class="form-control" id="inputHuman" placeholder="Answer" autocomplete="off">
    </div>
    <input name="answer" type="hidden" id="inputAnswer">
    <input name="question_type" type="hidden" value="{{question_type}}">
    <button type="submit" class="btn btn-primary">
        Submit
    </button>
</form>
<div id="treeContainer"></div>
{% endblock %}

