{% extends "quizzes/question/base.html" %}
{% load compress %} 

{% block js %}
{{ block.super }}
{% compress js %}
<script type="text/coffeescript">
$ ->
    # clear preset value, question is likely new
    question = new BSTSearchQuestion("treeContainer", {{structure|safe}}) 
    # update input when question is changed 
    f = () ->
        answers = question.submit().join ", "
        $("#inputHuman").val(answers)
    question.change f
    # update question when input is changed
    $("#inputHuman").change () -> 
        success = question.update($("#inputHuman").val())
        unless success
            $("#inputHuman").val("")

    $("form").submit () -> 
        $("#inputAnswer").val(JSON.stringify(question.submit().join " "))
       
</script>
{% endcompress %}
{% endblock %}

{% block qcontent %}
<p>Click to select nodes, or type in a comma separated series of keys.</p>
<form method="post" class="form" autocomplete="off">
    {% csrf_token %}
    <div class="form-group">
        <input name="answer" type="text" class="form-control" id="inputHuman" placeholder="Answer" autocomplete="off">
    </div>
    <input name="answer" type="hidden" id="inputAnswer">
    <input name="question_type" type="hidden" value="{{question_type}}">
    <button type="submit" class="btn btn-primary">
        Submit
    </button>
</form>
<div id="treeContainer"></div>
{% endblock %}

