{% extends "quizzes/question/base.html" %}
{% load compress %} 

{% block js %}
{{ block.super }}
{% compress js %}
<script type="text/coffeescript">
$ ->
    # clear preset value, question is likely new
    question = new BSTSearchQuestion("treeContainer", {{instance.structure|safe}}) 
    # update input when question is changed 
    f = () ->
        answers = question.submit().join ", "
        $("#inputHuman").val(answers)
    question.change f
    # update question when input is changed
    $("#inputHuman").change () -> 
        success = question.update($("#inputHuman").val())
        unless success
            $("#inputHuman").val("")

    $("form").submit () -> 
        $("#inputAnswer").val(JSON.stringify(question.submit()))
       
</script>
{% endcompress %}
{% endblock %}

{% block qcontent %}
<h1>Binary Search Trees</h1>
<p>{{instance.prompt}}</p>
<p>Click to select nodes, or type in a comma separated series of keys.</p>
<form action="{% url 'quizzes.views.question' quiz.id question.idx instance.idx %}" method="post" class="form">
    {% csrf_token %}
    <div class="form-group">
        <input name="answer" type="text" class="form-control" id="inputHuman" placeholder="Answer">
    </div>
    <input name="answer" type="hidden" id="inputAnswer">
    <button type="submit" class="btn btn-primary pull-right">
        Submit
    </button>
</form>
<div id="treeContainer"></div>
{% endblock %}

