{% extends "quizzes/question/base.html" %}
{% load compress %}

{% block js %}
{{ block.super }}
{% compress js %}
<script type="text/javascript">
    $(function() {
        $("#answerInput").validator({alertText: "Please type in an answer"});
    });
</script>
{% endcompress %}
{% endblock %}

{% block qcontent %}
<form method="post" class="form" autocomplete="off">
    {% csrf_token %}
    <div class="form-group">
        <input name="answer" id="answerInput" type="text" class="form-control" placeholder="Answer" autocomplete="off">
    </div>
    <input name="question_type" type="hidden" value="{{question_type}}">
    <button type="submit" class="btn btn-primary">
        Submit
    </button>
</form>
{% endblock %}

