{% extends "base.html" %}
{% load staticfiles %}
{% load compress %}

{% block title %}Answer{% endblock %} 

{% block js %}
{{ block.super }}
{% compress js %}
<script type="text/coffeescript" charset="utf-8" src="{% static "quizzes/scripts/trees.coffee" %}"></script>
{% endcompress %}
{% endblock %}

{% block content %}
<div class="container raised">
    <div class="row">
        <div class="col-sm-12">
            <h3>{{title}}</h3>
            <h4>
                {% if correct %}
                Correct!
                {% else %}
                Sorry, that was incorrect.
                {% endif %}
            </h4>
            <h4>You got {{score}} out of {{max_score}} points</h4>
            <a href="{% url 'quizzes.views.quiz' quiz_id %}"
                class="btn btn-success">
                    Go Back To Quiz
            </a>
            <a href="{% url 'quizzes.views.question' quiz_id question_idx %}"
                class="btn btn-primary">
                Try Again? 
            </a>
            <hr/>
            <p> Prompt: </p>
            {% block prompt %}
            <pre>{{ prompt }}</pre>
            {% endblock %}
            {% if explanation %}
            <p> Explanation: </p>
            {% endif %}
            {% block explanation %}
            {% if explanation %}
            <pre>{{explanation}}</pre>
            {% endif %}
            {% endblock %}
            <p>Seed: {{seed}}<p>
            {% block acontent %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
