{% extends "quizzes/answer/base.html" %}
{% load compress %}

{% block js %}
{{ block.super }}
{% compress js %}
<script type="text/coffeescript">
$ -> 
    radius = (d) -> 
        if not d.children? or d.children.length == 0
            5 
        else
            20
    opts =
        radius: radius
    {% if correct or correct == None %}
    tree = new BinaryTree("treeContainer", {{answer|safe}}, opts)
    {% else %}
    opts.yScale = 4
    answerTree = new BinaryTree("answerDiv", {{answer|safe}}, opts)
    {% if user_answer %}
    userTree = new BinaryTree("userDiv", {{user_answer|safe}}, opts)
    {% endif %}
    
    {% endif %}

</script>
{% endcompress %}
{% endblock %}

{% block prompt %}
<pre>Construct a binary search tree by inserting the following keys in order:

    {{structure}}</pre>
{% endblock %}

{% block acontent %}
{% if correct%}
<div id="treeContainer">
</div>
{% else %}
<div class="row">
    <div id="userDiv" class="col-sm-6">
        <h2>Your Answer</h2>
    </div>
    <div id="answerDiv" class="col-sm-6">
        <h2>Correct Answer</h2>
    </div>
</div>
{% endif %}
{% endblock %}

