{% extends "quizzes/answer/base.html" %}
{% load compress %}

{% block js %}
{{ block.super }}
{% compress js %}
<script type="text/coffeescript">
$ -> 

    width  = $("#treeContainer").width()
    svg = d3.select("#treeContainer").append("svg")
        .attr("width", width)
        .attr("height", 100)
    answerNode = svg.append("g")
            .attr("class", "node answer")
            .attr("transform", "translate(50,50)")
    answerNode.append("circle")
            .attr("r", 20)
    answerNode.append("text")
            .attr("x", 40)
            .attr("y", 4)
            .text("Answer")

    userNode = svg.append("g")
            .attr("class", "node selected")
            .attr("transform", "translate(250,50)")
    userNode.append("circle")
            .attr("r", 20)
    userNode.append("text")
            .attr("x", 40)
            .attr("y", 4)
            .text("Your Answer")

    answer = {{instance.answer|safe}}
    user_answer = {{instance.user_answer|safe}}

    opts =
        nodeClass: ((d) -> if (answer.indexOf d.name) != -1 then "answer" else "") 
        radius: ((d) ->
                if not d.children? or d.children.length == 0
                    5 
                else
                    20
            )
    tree = new BinaryTree("treeContainer", {{instance.structure|safe}}, opts)

    selected = []
    tree.each (a) ->
        if (user_answer.indexOf a.name) != -1
            selected.push a 
    tree.selectArray selected

</script>
{% endcompress %}
{% endblock %}

{% block acontent %}
<div id="treeContainer">
</div>
{% endblock %}

