.node.clickable {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 2.5px;
}

.answer circle {
    stroke: lime;
    stroke-width: 5.0px;
}

text {
    font: 15px sans-serif;
}

.selected circle {
    fill: lightsteelblue;
}

.dashed circle {
    stroke-dasharray: 3;
}

.leaf circle {
    stroke: grey;
}

.faded circle, .faded text {
    fill-opacity: 0.5;
    stroke-opacity: 0.5;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2.5px;
}

/* style for bar chart */
.axis text, .bar text {
    font: 10px sans-serif;
    fill: black;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar {
    fill: steelblue;
}

/* style for rest of site *?

.navbar {
    margin-bottom: 0px;
}

/* need pre's to wrap for (more) mobile-friendly question descriptions 
 * source: http://stackoverflow.com/a/248013
 * */
pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
