.node.clickable {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 2.5px;
}

.answer circle {
    stroke: lime;
    stroke-width: 5.0px;
}
rect {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 2.5px;
}
text {
    font: 15px sans-serif;
}

.selected circle {
    fill: lightsteelblue;
}

.dashed circle {
    stroke-dasharray: 3;
}

.leaf circle {
    stroke: grey;
}

.faded circle, .faded text {
    fill-opacity: 0.5;
    stroke-opacity: 0.5;
}


.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2.5px;
}

div.raised {
    background-color: white;
    -webkit-box-shadow: 0px 4px 10px -1px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 4px 10px -1px rgba(0,0,0,0.50);
    box-shadow: 0px 4px 10px -1px rgba(0,0,0,0.50);
    margin-bottom: 2px;
    padding-top:    5px; 
    padding-bottom: 15px;
    padding-left:   15px; 
    padding-right:  15px;
}

body {
    background-color: #f2f2f2;
}

.navbar {
    margin-bottom: 0px;
}

