.node.clickable {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 2.5px;
}

.answer circle {
    stroke: lime;
    stroke-width: 5.0px;
}
rect {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 2.5px;
}
text {
    font: 15px sans-serif;
}

.selected circle {
    fill: lightsteelblue;
}

.dashed circle {
    stroke-dasharray: 3;
}

.leaf circle {
    stroke: grey;
}

.faded circle, .faded text {
    fill-opacity: 0.5;
    stroke-opacity: 0.5;
}


.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2.5px;
}
