.node {
    cursor: pointer;
}
.node.invalid {
    cursor: default;
}

circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 2.5px;
}

.answer circle {
    stroke: lime;
    stroke-width: 5.0px;
}
rect {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 2.5px;
}
text {
    font: 15px sans-serif;
}

.selected circle {
    fill: lightsteelblue;
}

.invalid circle {
    stroke-dasharray: 3;
    stroke: grey;
}


.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2.5px;
}
