<nav class="navbar navbar-default">
<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'quizzes.views.index' %}">
            Quizzera
        </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
            {% if not teacher_site %}
            {% if course_id and course_title %}
            <li><a href="{% url 'quizzes.views.course' course_id %}">{{ course_title }}</a></li>
            {% if quiz_id and quiz_title %}
            <li><a href="{% url 'quizzes.views.quiz' course_id quiz_id %}">{{ quiz_title }}</a></li>
            {% if question_idx and title %}
            <li><a href="{% url 'quizzes.views.question' course_id quiz_id question_idx %}">{{ title }}</a></li>
            {% endif %}
            {% endif %}
            {% endif %}
            {% else %}
            <li><a href="{% url 'teacher.views.index' %}">Teacher</a></li>
            {% if course_id and course_title %}
            <li><a href="{% url 'teacher.views.course' course_id %}">{{ course_title }}</a></li>
            {% if quiz_id and quiz_title %}
            <li><a href="{% url 'teacher.views.edit' course_id quiz_id %}">{{ quiz_title }}</a></li>
            {% endif %}
            {% endif %}
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{user}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                {% if user.userinfo.is_teacher %}
                <li><a href="{% url 'teacher.views.index' %}">Teacher Portal</a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}">Sign Out</a></li>
            </ul>
            </li>
        </ul>
    </div>
</div>
</nav>
