{% extends "trees/base.html" %}
{% load staticfiles %}

{% block title %}Answer{% endblock %} 

{% block content %}
<h2>{{ message }}</h2>
<p>
{% if success %}
    Good job, your answer "{{ user_answer }}" is correct!
{% else %}
    {% if error %}
        Your answer "{{ user_answer }}" caused an error. 
    {% else %}
        Sorry, your answer "{{ user_answer }}" did not match the answer: 
        {{ answer }}
    {% endif %}
{% endif %}
</p>
<a class="btn btn-primary" href="{% url 'trees.views.question' %}">
    Try again?
</a>
{% endblock %}

