{% extends "trees/base.html" %}
{% load staticfiles %}
{% load compress %}

{% block title %}Answer{% endblock %} 

{% block js %}
{{ block.super }}
{% compress js %}
<script type="text/coffeescript" charset="utf-8" src="{% static "trees/scripts/trees.coffee" %}"></script>
<script type="text/coffeescript">
$ -> 
    {% if success %}
    tree = new BinaryTree("treeContainer", {{answer|safe}})
    {% else %}
    {% if not error %}
    answerTree = new BinaryTree("answerDiv", {{answer|safe}}, {yScale: 4})
    userTree = new BinaryTree("userDiv", {{user_answer|safe}}, {yScale: 4})
    {% endif %}
    {% endif %}

</script>
{% endcompress %}
{% endblock %}

{% block content %}
<h2>{{ message }}</h2>
<p>
{% if success %}
    Good job, your answer is correct!
{% else %}
    {% if error %}
        Your answer "{{ user_answer }}" caused an error. 
    {% endif %}
{% endif %}
</p>
<a class="btn btn-primary" href="{% url 'trees.views.question' %}">
    Try new question?
</a>
{% if success %}
<div id="treeContainer">
</div>
{% endif %}
{% if not error %}
<div class="row">
    <div id="answerDiv" class="col-sm-6">
        <h2>The answer</h2>
    </div>
    <div id="userDiv" class="col-sm-6">
        <h2>Your answer</h2>
    </div>
</div>
{% endif %}
{% endblock %}

