{% load staticfiles %}
{% load compress %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
    <head>

        {% block css %}
        {% bootstrap_css %}
        {% compress css %}
        <link rel="stylesheet" href="{% static "trees/css/style.css" %}" />
        {% endcompress %}
        {% endblock %}
        
        {% block js %}
        {% bootstrap_javascript jquery=1 %}
        <script type="text/javascript" src="{% static "trees/scripts/d3.min.js" %}"></script>

        {% endblock %}

        <title>{% block title %}My amazing site{% endblock %}</title>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div id="content" class="col-sm-12">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>

