{% extends "trees/base.html" %}
{% load staticfiles %}
{% load compress %} 
{% block js %}
{{ block.super }}
{% compress js %}
<script type="text/coffeescript" charset="utf-8" src="{% static "trees/scripts/trees.coffee" %}"></script>
<script type="text/coffeescript" charset="utf-8">
$ -> 
    tree = new Tree("treeContainer", {{ structure }})

</script>
{% endcompress %}
{% endblock %}

{% block title %}Index{% endblock %} 

{% block content %}
<p>{{prompt}}</p>
<div id="treeContainer"></div>
{% endblock %}

