{% extends "trees/base.html" %}
{% load staticfiles %}
{% load compress %} 

{% block js %}
{{ block.super }}
{% compress js %}
<script type="text/coffeescript" charset="utf-8" src="{% static "trees/scripts/trees.coffee" %}"></script>
<script type="text/coffeescript" charset="utf-8" src="{% static "trees/scripts/questions.coffee" %}"></script>
<script type="text/coffeescript">
$ ->
    # clear preset value, question is likely new
    $("#inputAnswer").val("")

    {% if BSTSEARCH %}
    InitQuestionBSTSearch("treeContainer", {{structure|safe}}) 
    {% endif %}
    {% if BSTINSERT %}
    InitQuestionBSTInsert("treeContainer", {{structure|safe}})
    {% endif %}
       
</script>
{% endcompress %}
{% endblock %}

{% block title %}Question{% endblock %} 

{% block content %}
<h1>Binary Search Trees</h1>
<p>{{prompt}}</p>
<p>Click to select nodes, or type in a comma separated series of keys.</p>
<form action="{% url 'trees.views.question' pk %}" method="post" class="form">
    {% csrf_token %}
    <div class="form-group">
        <input name="answer" type="text" class="form-control" id="inputAnswer" placeholder="Answer">
    </div>
    <button type="submit" class="btn btn-primary">
        Submit
    </button>
</form>
<div id="treeContainer"></div>
{% endblock %}

